td.td-img{
    width: 20%;
}

td.action{
    width: 25%;
}

td.action{
    margin-bottom: 30px;
}

.card-title{
    font-size: 17px;
}

.card-author{
    font-size: 12px;
    margin-top: -10px;
}
a{
    text-decoration: none;
    /* color: black; */
}

h1.detail-post-title{
    position: relative;
    margin-top: -70px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    color: #fff;
}

img.selected-post-image{
    filter: brightness(50%);
}

.content-latest-post{
    position: relative;
    margin-top: -100px;
    padding: 10px 0;
    color: #fff;
}